<div class="container-md alignform">
    <div class="col-md-8">
    <div class="row headermargin ">
      
            <h4 class="flex-grow">Employee TIme Sheet</h4>
       
            <input type="button" class="btn btn-primary" value="New" (click)="navigateTo()">
        
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>                    
                    <th scope="col">Person</th>
                    <th scope="col">Date</th>
                    <th scope="col">Hours Worked</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of list">
                    
                    <td>{{ country.personName }}</td>
                    <td>{{ country.date | date:"dd/MM/yyyy" }}</td>
                    <td>{{ country.hoursWorked | number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>